#--------------------------#
# Global Files Types       #
#--------------------------#
.modgit
.svn*
*.bkp
*.bkp*
*.old
js_bkp
js.old
sitemap.xml
*.log
*.sql
*.tar.*
*.gz
*.rar
*.zip
*.bz2
*.bz
*.tgz
*.gzip
*.tb2
*.tbz2
*.pdf
*.phar
*.log
*.swm
*.swn
*.swp
*.swo
.DS_Store
.bash_*
.mysql_*
magmi
*.sample
sftp-config.json

#--------------------------#
# IDE Project Files/Folder #
#--------------------------#
/node_modules
/nbproject
/.idea
.phpstorm.meta.php
deployment-config.json
.remote-sync.json

#--------------------------#
# XDebug Extension         #
#--------------------------#
remote_log

#--------------------------#
# FPC                      #
#--------------------------#
app/etc/fpc.xml

#--------------------------#
# NGinx Specific Ignores   #
#--------------------------#
50x.html
404.html

#--------------------------#
# Magento Specific Ignores #
#--------------------------#
/app/etc/local.xml
/app/code/local/Zend
/app/code/local/Varien
/dev
/downloader
/var
/var/cache
/var/session
/var/log
/var/report
/var/locks
/var/tmp
/var/package
/var/ait_*
/var/full_page_cache
/var/import
/app/code/local/TB/
/app/design/adminhtml/default/default/layout/tb_develop.xml
/app/design/frontend/base/default/layout/tb_develop.xml
/app/design/frontend/base/default/template/tb_develop/
/app/etc/modules/TB_Develop.xml
/skin/frontend/typologancee/default/css/_generated/design_english7.css
/skin/frontend/typologancee/default/css/_generated/design_english7.less
/skin/frontend/typologancee/default/css/_generated/layout_english7.css
/js/tb_develop/
/var/export
/var/importexport
/var/resource_config.json
/var/backups
/includes/src
/media
.magentointel-cache/
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
LICENSE_EE.html
LICENSE_EE.txt
README_VARNISH_CACHE.txt
RELEASE_NOTES.txt
index.php.sample
php.ini.sample


#--------------------------#
# TB DEVELOPER #
#--------------------------#
/app/code/local/TB
/app/design/frontend/base/default/template/tb_develop
/app/design/frontend/base/default/layout/tb_develop.xml
/app/design/adminhtml/default/default/layout/tb_develop.xml
/app/etc/modules/TB_Develop.xml
/js/tb_develop


/js/prototype/validation.js